---
layout: vertical
permalink: templates/artikel
published: true
title: Artikel
---

<h1>ARTIKEL</h1>
<p>
	<img src="../images/artikel1.png" alt="artikel" class="w-100">
</p>

<p>
	<img src="../images/artikel2.png" alt="artikel" class="w-100">
</p>


<h2>Download template artikel</h2>
<ul>
	<li>
		<a href="../docs/artikel_1pagina.zip" target="blank">Artikel 1 pagina - ZIP file</a>
	</li>
	<li>
		<a href="../docs/artikel_2pagina's.zip" target="blank">Artikel 2 pagina's - ZIP file</a>
	</li>
</ul>