---
layout: vertical
permalink: templates/uitnodiging
published: true
title: Uitnodiging
---

<h1>UITNODIGING</h1>

<br>

<p>
	<img src="../images/uitnodiging3.png" alt="Uitnodiging" class="w-100">
</p>

<p>
	<a href="../images/uitnodiging2.png" data-lightbox="mijnreeks" data-title="Foto uitnodiging">
		<img src="../images/uitnodiging2.png" alt="uitnodiging" class="w-33">
	</a>
	<a href="../images/uitnodiging1.png" data-lightbox="mijnreeks" data-title="Foto uitnodiging">
		<img src="../images/uitnodiging1.png" alt="uitnodiging" class="w-33">
	</a>
</p>

<h2>Download template uitnodiging</h2>
<ul>
	<li>
		<a href="../docs/template_uitnodiging.zip" target="blank">Uitnodiging - ZIP file</a>
	</li>
</ul>